.header{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9999;
}

.main-navbar .navbar-logo{
    color: #000000;
}
.main-navbar .navbar-logo{
    font-size: 36px;
    font-weight: 900;
}
.header .navbar-nav .nav-link{
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    padding: 0px 15px;
}
.header .navbar-nav .nav-link:hover{
    color: #FCE15A;
}